

RewriteEngine On



RewriteRule ^([ก-ฮa-zA-Z0-9_-]+)$ index.php?controllers=$1 [L]

RewriteRule ^([ก-ฮa-zA-Z0-9_-]+)/([ก-ฮa-zA-Z0-9เ\_-]+)$ index.php?controllers=$1&param2=$2 [L]

RewriteRule ^([ก-ฮa-zA-Z0-9_-]+)/([ก-ฮa-zA-Z0-9เ\_-]+)/([ก-ฮa-zA-Z0-9เ\_-]+)$ index.php?controllers=$1&param2=$2&param3=$3 [L]


#ErrorDocument 404 http://ingeniouswebsitesolution.com/wp-content/uploads/2010/12/404.jpg  

 

 

 